.credits {
  .headings {
    .film-title {
    }
  }

  .crawl {
    font-size: 3rem;
    text-align: justify;
    color: #bbb;
    max-width: 90%;
    padding: 0;
    margin: 0 auto;
  }

  button {
    padding: 2rem;
    background: maroon;
    font-size: 7rem;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    position: absolute;
    top: 660px;
    right: 80px;

    &:hover {
      color: black;
    }

    &:focus {
      outline: none;
    }
  }
}
