.film-wrap {
  max-width: 90%;
  padding: 0;
  // border: 2px yellow solid;
  margin: 0 auto;

  .film-title {
    background: rgba(200, 0, 0, 0.4);
    text-align: center;
    width: 60%;
    margin: 2rem auto;
  }

  .crawl,
  .date {
    font-size: 3rem;
    text-align: justify;
    color: #ccc;
    background: rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0 auto;
  }

  .crawl {
    margin-bottom: 7rem;
    border-radius: 20px;
    padding: 1rem;
  }

  .credits-wrap {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
  }

  .credits {
  }

  .date {
    color: maroon;
    background: rgba(0, 0, 0, 0.7);

    .pre {
      color: #ccc;
    }
  }

  button {
    padding: 2rem;
    background: rgba(0, 0, 0, 0.4);
    font-size: 5rem;
    color: maroon;
    cursor: pointer;
    border-radius: 20px;
    border-color: maroon;

    &:hover {
      color: white;
      background: maroon;
      transition: all 0.3s ease-in-out;
    }

    &:focus {
      outline: none;
    }
  }

  .chars-wrap {
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    flex-wrap: wrap;

    .char {
      border: 1px solid maroon;
      min-width: 30%;
      max-width: 30%;
      overflow-wrap: break-word;
      // text-align: center;
      padding: 1rem;
      min-height: 30vh;
      margin: 1rem;

      .pre {
        text-align: left;
        color: maroon;
        font-weight: bold;
        background: #ccc;
        margin-right: 2rem;
      }
    }
  }
}
